@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root{
  --blueColor: #002C54;
  --darkBlue: #16253D;
  --whiteColor: #F0EFEA;
}

body{
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

nav{
  width: 100vw;
  padding-left: 100px !important;
  padding-right: 100px !important;
  font-family: 'Open Sans', sans-serif;
  position: fixed !important;
  z-index: 2 !important;
}

.nav-link{
  margin-right: 10px !important;
}

.hero{
  height: 100vh;
  width: 100vw;
  background-color: var(--blueColor);
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

.hero-flex{
  display: flex;
  position: relative;
}

.hero-img{
  position: absolute;
  height: 100vh;
}

.hero-img img{
  height: 100%;
  position: relative;
  z-index: 0;
  filter: brightness(0.4);
  width: 100vw;
}

.hero-text{
  color: white;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-text h2{
  width: 50%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin-bottom: 20px;
  font-size: 3em;
}

.hero-text h5{
  width: 50%;
}

.atributos{
  height: 40vh;
  width: 50vw;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  grid-gap: 30px;
  grid-row-gap: 80px;
  color: var(--whiteColor);
  padding-top: 50px;
  margin-top: 30px;
}

.atr-item{
  position: relative;
}

.atr-item i{
  position: absolute;
  font-size: 70px;
  top: -20px;
  z-index: 1;
  color: #aaaa;
  left: 1em;
}

.atr-item p{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.conocer-text{
  font-size: 20px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 150px;
  left: 80%;
}

.conocer-text:hover{
  text-decoration: none;
}
