@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root{
  --blueColor: #002C54;
  --darkBlue: #16253D;
  --whiteColor: #F0EFEA;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

nav{
  width: 100vw;
  padding-left: 100px !important;
  padding-right: 100px !important;
  font-family: 'Open Sans', sans-serif;
  position: fixed !important;
  z-index: 2 !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.nav-link{
  margin-right: 10px !important;
}

/* -----------Hero------------ */

.hero{
  height: 100vh;
  width: 100vw;
  background-color: var(--blueColor);
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-flex{
  display: flex;
  position: relative;
}

.hero-img{
  position: absolute;
  height: 100vh;
}

.hero-img img{
  height: 100%;
  position: relative;
  z-index: 0;
  filter: brightness(0.4);
  width: 100vw;
}

.hero-text{
  color: white;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-text h2{
  width: 50%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin-bottom: 20px;
  font-size: 3em;
}

.hero-text h5{
  width: 50%;
}

.conocer-text{
  font-size: 20px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.conocer-text:hover{
  text-decoration: none;
}

/* --------nosotros-------- */
#nosotros{
  height: 180vh;
  width: 100vw;
}

.ustxt-container{
  width: 100%;
  height: 35%;
  background-image: -webkit-linear-gradient(-85deg, var(--whiteColor) 70%, white 50%);
}

.nosotros-text{
  text-align: center;
  padding: 20px;
  padding-top: 60px;
  letter-spacing: 2px;
  color: var(--darkBlue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nosotros-text h5{
  font-size: 1.2em;
  margin: 20px 0px;
  color: var(--blueColor);
}

.nosotros-text p{
  font-weight: bold;
  width: 80vw;
  font-size: 1.3em;
}

.info-box{
  background-color: white;
  box-shadow: -6px -6px 6px 3px var(--whiteColor);
  width: 65vw;
  margin-left: 17vw;
  position: relative;
  bottom: 25vh;
  height: fit-content;
  padding: 50px;
  border-radius: 10px;
}

.cardInfo{
  height: 260px;
  color: var(--blueColor);
}

.cardInfo1{
  border-right: 0.5px solid var(--whiteColor);
  border-bottom: 0.5px solid var(--whiteColor);
}

.cardInfo2{
  border-left: 0.5px solid var(--whiteColor);
  border-bottom: 0.5px solid var(--whiteColor);
}

.cardInfo3{
  border-right: 0.5px solid var(--whiteColor);
  border-top: 0.5px solid var(--whiteColor);
}

.cardInfo4{
  border-left: 0.5px solid var(--whiteColor);
  border-top: 0.5px solid var(--whiteColor);
}

.cardInfo img{
  height: 25%;
  margin-top: 25px;
}

.cardInfo h1{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

.cardInfo p{
  font-size: 0.9em;
}

/* ------------Atributos-------------- */

.atributos{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  padding-top: 20px;
  box-shadow: 2px 2px 12px lightgray;
  position: relative;
  bottom: 25vh;
}

.atr-item{
  text-align: center;
  font-size: 1.2em;
  color: var(--blueColor);
}

.atr-item i{
  color: #B7D6FD;
  padding-right: 50%;
  font-size: 2em;
}

.atr-item p{
  width: 50%;
  line-height: 20px;
  word-spacing: 2px;

}

/* -------socios--------- */

#socios{
  height: 100vh;
  width: 100vw;
  background-color: var(--whiteColor);
}

.partners{
  padding: 50px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partners img{
  height: 50px;
}

.partnercards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.sociocard{
  height: 35vh;
  width: 45vw;
  background-color: white;
  box-shadow: 2px 2px 6px gray;
  border-radius: 5px;
  padding: 50px;
}

.sociocard p{
  font-size: 1.5em;
  text-align: center;
  color: var(--blueColor);
}

.calltocontact{
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  padding-top: 50px;
}

.calltotext{
  padding-top: 20px;
}

.calltotext h2:nth-child(1){
  color: #0069D9;
  font-size: 20px;
}

.calltotext h2:nth-child(2){
  color: var(--darkBlue);
  font-size: 20px;
}

.calltobtns{
  display: flex;
  flex-direction: column;
}

.calltobtns a{
  margin-bottom: 10px;
}

/* -------------contacto------------ */

#contacto{
  background-color: var(--darkBlue);
  width: 100vw;
  box-shadow: -2px -2px 6px gray;
}

.barra-contacto{
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-text{
  font-size: 20px;
  color: var(--whiteColor);
}

.contact-tags{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.contact-tags{
  margin-bottom: 20px;
}


/* --------------Responsive Design------------------- */

@media screen and (max-height:500px){

  body{
    background-color: var(--whiteColor);
  }

  .info-box{
      margin-top: 5%;
  }

  .atributos{
    background-color: white;
  }

  #nosotros{
    background-color: white;
    margin-bottom: 15%;
  }

  .sociocard{
    font-size: 12px;
  }

  #socios{
    margin-bottom: 5%;
  }

}

@media screen and (max-height:400px){

  .hero{
    padding-top: 10px;
  }

  #nosotros{
    height: 230vh;
  }

  #socios{
    margin-bottom: 10%;
  }

  .sociocard{
    padding-top: 30px;
  }

}

@media screen and (max-height:320px){
  #nosotros{
    height: 260vh;
  }

  .ustxt-container{
    height: 28%;
  }

  #socios{
    margin-bottom: 15%;
  }
}

@media screen and (max-width:1042px){
  .hero-text{
    font-size: 0.7em;
  }

  .nosotros-text{
    font-size: 0.9em;
  }
}

@media screen and (max-width:860px){
  .hero-text{
    font-size: 0.6em;
  }

  .hero-text h5{
    font-size: 1.8em;
  }

  .nosotros-text{
    font-size: 0.7em;
  }

  .cardInfo{
    font-size: 0.8em;
  }

  .atributos{
    font-size: 0.8em;
  }

  .sociocard{
    font-size: 0.7em;
    padding-top: 30px;
  }

  .calltocontact{
    padding-left: 50px;
    padding-right: 50px;
  }

  .calltotext h2:nth-child(1){
    font-size: 16px;
  }

  .calltotext h2:nth-child(2){
    font-size: 16px;
  }

  .calltobtns a{
    font-size: 12px;
  }

  .barra-contacto{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 776px){

  #nosotros{
    height: 275vh;
  }

  .ustxt-container{
    height: 23%;
  }

}

@media screen and (max-width: 600px){

  .atributos{
    padding-left: 40px;
    padding-right: 40px;
  }

  #socios{
    height: 160vh;
  }

  .partners img{
    height: 35px;
    margin-top: 20px;
  }

  .partnercards{
    flex-direction: column;
    justify-content: space-between;
  }

  .sociocard{
    width: 80vw;
    display: flex;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
  }

  .calltocontact{
    flex-direction: column;
    padding-top: 10px;
  }

  .calltotext{
    margin-bottom: 30px;
  }

  #contact{
    height: 80vh;
  }

  .barra-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
  }

  .contact-text{
    margin-bottom: 30px;
    font-size: 1em;
  }

}

@media screen and (max-width: 500px){

  .hero-text h2,
  .hero-text h5{
    width: 80%;
  }

  #nosotros{
    height: 300vh;
  }

  .partners{
    padding-top: 0;
  }

  .nosotros-text p{
    width: 90%;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 430px){

  .hero-text h2{
    font-size: 2.1em;
  }

  .hero-text h5{
    font-size: 1.5em
  }

  #nosotros{
    height: 270vh;
  }

  .nosotros-text p{
    width: 100%;
    line-height: 15px;
    font-size: 10px;
  }

  .info-box{
    padding: 0;
    bottom: 19vh;
  }

  .atributos{
    margin-top: 30px;
    font-size: 10px;
  }

  .atributos i{
    padding-right: 40%;
  }

  .partners{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .sociocard{
    font-size: 0.6em;
    padding: 0 20px;
  }

  #contacto{
    margin-top: 120px;
  }

  .calltotext h2:nth-child(1),
  .calltotext h2:nth-child(2){
    font-size: 14px;  
  }

}
